<div class="container">
  <md-card class="auth-form">
    <md-card-content>
      <md-tab-group>
        <md-tab label="Login">
          <div class="tab-content">
            <md-input-container floatPlaceholder="auto">
              <input mdInput name="email" type="email" required
                      placeholder="Your email address" #loginEmail maxLength="50">
            </md-input-container>
            <md-input-container floatPlaceholder="auto">
              <input mdInput name="password" type="password" required
                    placeholder="Your password" #loginPassword>
            </md-input-container>

            <button md-button color="primary" (click)="login(loginEmail.value, loginPassword.value)">Login</button>
            <p style="color: red">{{loginError}}</p>
          </div>
        </md-tab>
        <md-tab label="Registrace">
          <div class="tab-content">
            <md-input-container floatPlaceholder="auto">
              <input mdInput name="email" type="email" required
                      placeholder="Your email address" #regEmail maxLength="50">
            </md-input-container>
            <md-input-container floatPlaceholder="auto">
              <input mdInput name="password" type="password" required
                    placeholder="Your password" #regPassword>
            </md-input-container>

            <button md-button color="primary" (click)="register(regEmail.value, regPassword.value)">Registrovat se</button>
            <p style="color: red">{{registerError}}</p>
          </div>
        </md-tab>
      </md-tab-group>
    </md-card-content>
  </md-card>
</div>
