<p>
  landing works!
</p>

<md-card class="auth-form">
    <md-card-content class="content">
        <md-input-container floatPlaceholder="auto">
            <input mdInput name="email" type="email" required
                   placeholder="Your email address" #loginEmail maxLength="50">
        </md-input-container>
        <md-input-container floatPlaceholder="auto">
            <input mdInput name="password" type="password" required
                   placeholder="Your password" #loginPassword>
        </md-input-container>

        <button md-button color="primary" (click)="login(loginEmail.value, loginPassword.value)">Login</button>
    </md-card-content>
</md-card>
