<div class="content">
  <md-card class="projects">
    <md-card-content>
      <div class="icon">
        <md-icon>error_outline</md-icon>
      </div>
      <div class="content">
        Projects: 2
      </div>
    </md-card-content>
  </md-card>

  <md-card class="risks">
    <md-card-content>
      <div class="icon">
        <md-icon>error_outline</md-icon>
      </div>
      <div class="content">
        Risks: 4
      </div>
    </md-card-content>
  </md-card>

  <md-card class="risk-value">
    <md-card-content>
      <div class="icon">
        <md-icon>error_outline</md-icon>
      </div>
      <div class="content">
        Total value of risks: 100 000kč
      </div>
    </md-card-content>
  </md-card>
</div>
