<div class="content">
  <md-card class="projects">
    <md-card-content>
      <div class="icon">
        <md-icon>error_outline</md-icon>
      </div>
      <div class="content">
        <strong>Projects: {{totalProjects}}</strong>
      </div>
    </md-card-content>
  </md-card>

  <md-card class="risks">
    <md-card-content>
      <div class="icon">
        <md-icon>error_outline</md-icon>
      </div>
      <div class="content">
        <strong>Risks: {{totalRisks}}</strong>
      </div>
    </md-card-content>
  </md-card>

  <md-card class="risk-value">
    <md-card-content>
      <div class="icon">
        <md-icon>error_outline</md-icon>
      </div>
      <div class="content">
        <strong>Total value of risks: {{totalValue}} CZK</strong>
      </div>
    </md-card-content>
  </md-card>
</div>
