<div class="container">
<h2>Create new user</h2>

<md-input-container floatPlaceholder="auto">
  <input mdInput name="nickname" type="text" #nickname required placeholder="Nickname of a user">
</md-input-container>
<md-input-container floatPlaceholder="auto">
  <input mdInput name="email" type="email" #email required placeholder="Email of a user">
</md-input-container>
<md-input-container floatPlaceholder="auto">
  <input mdInput name="password" type="password" #password required placeholder="Password for a user">
</md-input-container>
<md-select placeholder="Type" #type>
  <md-option value="User">User</md-option>
  <md-option value="Manager">Manager</md-option>
  <md-option value="Admin">Admin</md-option>
</md-select>
<md-input-container floatPlaceholder="auto">
  <input mdInput name="name" type="text" #name required placeholder="Name of a user">
</md-input-container>
<md-input-container floatPlaceholder="auto">
  <input mdInput name="phone" type="text" #phone required placeholder="Phone of a user">
</md-input-container>

<button md-button color="primary" (click)="onCreateUserButtonClick(nickname.value, email.value, password.value, type.selected.value, name.value, phone.value)">Create User</button>
</div>
