<div class="container">
<h2>Create new project</h2>

<md-input-container floatPlaceholder="auto">
  <input mdInput name="name" type="text" #name required placeholder="Name of the project">
</md-input-container>

<md-input-container>
  <input mdInput placeholder="Owner" #owner [mdAutocomplete]="auto" [formControl]="ownerStateCtrl">
</md-input-container>
<md-autocomplete #auto="mdAutocomplete">
  <md-option *ngFor="let user of filteredUsers | async" [value]="user">
    {{ user }}
  </md-option>
</md-autocomplete>

<md-input-container>
  <textarea mdInput placeholder="Description" #description required></textarea>
</md-input-container>
<md-input-container>
  <textarea mdInput placeholder="Goal" #goal required></textarea>
</md-input-container>
<button md-button color="primary" (click)="onCreateProjectButtonClick(name.value, owner.value, description.value, goal.value)">Create Project</button>
</div>
