<h2>
  Projects
</h2>

<button md-button (click)="openAddProjectDialog()">Add project</button>

<md-input-container>
  <input mdInput
        class="filter-input"
        placeholder="Type to filter the name column..."
        [(ngModel)]="filterVal" />
</md-input-container>

<ngx-datatable
  class="material striped"
  [rows]="filteredData"
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="50"
  [selectionType]="'row'"
  (select)="onProjectSelect($event)">
</ngx-datatable>
